# OS files
.DS_Store
Thumbs.db

# Obsidian system files
.obsidian/workspace
.obsidian/cache
.obsidian/workspace.json
.obsidian/graph.json
.obsidian/plugins/
!.obsidian/plugins/plugins.json

# Excalidraw
*.excalidraw.svg
*.excalidraw.temp

# Trash
.trash/

